<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>
<!--    引入外部配置文件-->
    <properties resource="db.properties"/>
    <!--    配置log4j 设置日志实现-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
<!--    可以给实体类取别名-->
<!--    <typeAliases>-->
<!--        <typeAlias type="com.cjhstudy.pojo.User" alias="User"/>-->
<!--    </typeAliases>-->
<!--给一个实体类去别名的定义到一个包名，包下的实体类可以用包名的小写代替-->
    <typeAliases>
        <package name="com.cjhstudy.pojo"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
<!--    每一个Mapper.xml都需要在Mybatis核心配置文件中注册！-->
    <mappers>
        <mapper resource="com/cjhstudy/dao/UserMapper.xml"/>
    </mappers>
</configuration>