<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.cjhstudy.dao.UserMapper">

<!--查询用户信息-->
  <select id="getUserList" resultType="user">
      select * from mybatis.user
  </select>

<!--通过id查找用户信息-->
    <select id="selectUserById" parameterType="int" resultType="user">
        select * from user where id = #{id}
    </select>

<!--    修改一个用户信息-->
    <update id="updateUser" parameterType="user" >
        update mybatis.user set name = #{name} , pwd = #{pwd} where id=#{id}
    </update>

<!--    增加一个用户-->
    <insert id="addUser" parameterType="user">
        insert into mybatis.user (id,name,pwd) values(#{id},#{name},#{pwd});
    </insert>


<!--    删除一个id-->
    <delete id="deleteUser" parameterType="user">
        delete from mybatis.user where id = #{id};
    </delete>


<!--    万能map 修改一个用户信息-->
    <update id="updateUser2" parameterType="user" >
        update user set name =#{helloName} where id = #{helloId};
    </update>

</mapper>